* {
    margin: 0;
    padding: 0;
}
.cabeçalho {

    background-image: #9E4784;
    color: #FFFFFF;
    display:flex;
    justify-content: space-around;
}
.cabeçalho-logo {
width: 1%;
height: 1%;
}

.cabeçalho-itens {
    font-size: 36px;
    display: inline-block;
    margin: 5px;
    padding: 10px;
}