* {
    margin: 0;
    padding: 0;
}
.cabeçalho {

    background-color: #9E4784;
    color: #000000;
    display:flex;
    justify-content: space-around;
}
.cabeçalho-logo {
width: 20%;
height: 20%;
}

.cabeçalho-itens {
    font-size: 36px;
    display: inline-block;
    margin: 5px;
    padding: 10px;
}